<template>
	<div class="app-container">
		<!-- Faction Info -->
		<div class="bar-horiz left-aligned">
			<input type="text" v-model="faction_id" placeholder="Faction ID"/>
			<div class="button" @click="fetchFactionInfo">
				Fetch
			</div>
			<div class="h-spacer"/>
			<span style="margin-right: 10px" >
				<label for="refresh-continuously">Auto-Refresh</label>
				<input type="checkbox" v-model="auto_refresh"/>
			</span>
			<input type="text" v-model="api_key" placeholder="API KEY"/>
		</div>
		
		<!-- Members Table -->
		<div class="content-container" v-if="faction_info">
			<div class="faction-info">
				<div class="stats">
					<div 
						class="faction-stat"
						v-for="the_key in faction_keys"
						:key="`faction-info-${the_key}`"
					>
						<label>{{the_key}}</label> 
						<span>{{faction_info[the_key]}}</span>
					</div>
				</div>
				<div class="fac-img">
					<img :src="`https://factiontags.torn.com/${faction_info['tag_image']}`"/>
				</div>
			</div>

			<div class="filter-bar">
				<!-- Revivable Filter -->
				<span class="filter-option">
					<input type="checkbox" v-model="filters.revivable" id="filter-revivable">
					<label for="filter-revivable">Revivable Only</label>
				</span>

				<!-- Hosp Filter -->
				<span class="filter-option">
					<input type="checkbox" v-model="filters.hospitalized" id="filter-hospitalized">
					<label for="filter-hospitalized">Hospitalized Only</label>
				</span>

				<!-- Online/Offline Filter -->
				<span class="filter-option">
					<label>Online/Offline: </label>
					<select v-model="filters.online">
						<option value="all" default>All</option>
						<option value="online">Online Only</option>
						<option value="online_idle">Online or Idle</option>
						<option value="5_min">Online within 5 mins</option>
						<option value="offline">Offline Only</option>
					</select>
				</span>

				<!-- Level Filter -->
				<span class="filter-option">
					<label for="level-filter">Above/Below Level: </label>
					<input type="number" min="-100" max="100" v-model="filters.level" placeholder="Positive / Negative numbers"/>
				</span>

				<div class="h-spacer"/>
				
				<!-- Action Buttons  -->
				<span v-if="sync_to && sync_from && sync_from < sync_to">Sync: {{sync_from}} / {{sync_to}}</span>
				<span v-else-if="last_sync_text">Last Sync: {{last_sync_text}}</span>
				<div class="button" v-if="!fetching.members" @click="fetchMembersInfo()">Refresh Visible</div>
				<div class="button" v-if="!fetching.members" @click="fetchMembersInfo(true)">Refresh All</div>
			</div>

			<!-- Table Rows -->
			<div class="member-list">
				<table style="width: 100%">
					<thead>
						<th
							v-for="the_key in user_keys"
							:key="`user-info-header-${the_key}`"
							:class="`header ${the_key}`"
						>
							{{the_key}}
						</th>
						<th>Synced</th>
						<th>Actions</th>
					</thead>
					<tbody>
						<tr v-for="member in members_array"
							:key="`member-list-item-${member.player_id}`"
							:class="`member`"
						>
							 <td 
								v-for="the_key in user_keys"
								:key="`member-list-item-${the_key}-${member.player_id}`"
								:class="`member`"
							>
								<template v-if="the_key == 'player_id'">
									<a :href="`https://www.torn.com/profiles.php?XID=${member[the_key]}`">
										{{member[the_key]}}
									</a>
								</template>
								<span v-else :class="`data-column ${the_key}`" :data-value="member[the_key]">
									{{member[the_key]}}
								</span>
							</td>
							<td
								:key="`member-list-item-synced-${member.player_id}`"
							>
								{{member.synced && `${Math.round(dayjs().diff(member.synced) / 1000)}s ago`}}
							</td>
						  <td
								:key="`member-list-item-actions-${member.player_id}`"
								class="actions-cell"
							>
								<div :class="`button slim ${member.online_status === 'Online' ? 'green' : 'darkgreen'}`" v-if="member.revivable && member.hospitalized" @click="reviveMember(member.player_id)">Revive</div>
								<div class="button slim" v-if="!fetching.members" @click="fetchSingleMember(member.player_id)">Refresh</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
 
</template>

<script>
import axios from 'axios';
import * as chrono from 'chrono-node';
import dayjs from 'dayjs';
import * as relativeTime from 'dayjs/plugin/relativeTime';
import * as dayjsDuration from 'dayjs/plugin/duration';
dayjs.extend(relativeTime);
dayjs.extend(dayjsDuration);
function sleep(ms) {
	return new Promise(resolve => setTimeout(resolve, ms));
}

let user_keys = [
	"name",
	"player_id",
	"revivable",
	"hospitalized",
	"online_status",
	"level",
	"age",
	"health",
	"last_online",
	// "donator",
	// "gender",
	// "property",
	// "signup",
	// "awards",
	// "friends",
	// "enemies",
	// "forum_posts",
	// "karma",
	// "role",
//   "property_id",
//   "competition",
//   "life",
//   "status",
//   "job",
//   "faction",
//   "married",
//   "basicicons",
//   "states",
//   "last_action",
//   "last_online_2",
//   "hosp_time"
];

let faction_keys = [ 
	"ID", "name", "tag", "leader", "co-leader", "respect", "age", "capacity", "best_chain", 
	//   "tag_image", "territory_wars", "peace", "rank", "ranked_wars", "members", "raid_wars"
];

export default {
	name: 'App',
	components: {
		
	},
	data() {
		return {
			api_key: localStorage.trn_key || null,
			auto_refresh: localStorage.auto_refresh || false,
			faction_id: localStorage.faction_id || null,
			faction_info: null,
			members_info: {},

			filters: {
				revivable: false,
				hospitalized: false,
				online: 'all',
				level: null
			},
			user_keys,
			faction_keys,
			sync_interval: null,
			tick_interval: null,
			fetching: {
				faction: false,
				members: false
			},
			last_sync: localStorage.last_sync || null,
			last_sync_text: null,
			sync_from: 0,
			sync_to: 0,
			dayjs

		}
	},
	mounted() {
		let faction_info = localStorage.faction_info;
		try {
			this.faction_info = JSON.parse(faction_info);
		} catch {
			console.log("Error parsing faction_info", faction_info);
		}
		let members_info = localStorage.members_info;
		try {
			this.members_info = JSON.parse(members_info);
		} catch {
			console.log("Error parsing members_info", members_info);
		}
		this.resetTimer();
		if (!this.tick_interval) {
			this.tick_interval = setInterval(() => {
				if (this.last_sync) {
					let seconds = Math.round(Math.abs(dayjs().diff(this.last_sync))/1000);
					this.last_sync_text = `${seconds}s ago`;
				}
			}, 1000);
		}
		let json_filters = localStorage.member_filters;
		if (json_filters) {
			try {
				this.filters = JSON.parse(json_filters);
			} catch {
				console.log("INVALID FILTERS:", json_filters);
			}
		}

	},
	methods: {
		resetTimer(disabled=false) {
			if (this.sync_interval) {
				clearInterval(this.sync_interval);
			}
			if (!disabled) {
				this.sync_interval = setInterval(() => {
					console.log("Sync interval");
					if (this.api_key && this.auto_refresh === true) {
						this.fetchMembersInfo(true);
					}
				}, 120*1000);
			}
		},
		fetchFactionInfo(){
			this.fetching.faction = true;
			axios.get(`https://api.torn.com/faction/${this.faction_id}?key=${this.api_key}`).then(response => {
				this.faction_info = response.data;
				localStorage.faction_info = JSON.stringify(response.data);
				console.log(response.data);
				this.members_info = {};
				this.fetchMembersInfo(true);
				this.fetching.faction = false;
			}).catch(err => {
				console.log("ERR", err);
				this.fetching.faction = false;
			});
		},

		async fetchSingleMember(id) {
			let response = await axios.get(`https://api.torn.com/user/${id}?key=${this.api_key}`);
			if (response.status == 200 && !response.data.error) {
				response.data.synced = dayjs();
				this.members_info[id] = response.data;
			}
		},

		async fetchMembersInfo(force = false) {
			if (this.fetching.members) return;
			this.fetching.members = true;
			this.last_sync = dayjs();
			localStorage.last_sync = this.last_sync;
			let ids = this.members_array.map(member => member.player_id);
			if (force) {
				 Object.keys(this.faction_info.members).forEach(key=>{
					 try {
						let existing = ids.find(id => parseInt(id) == parseInt(key))
						if (!existing) {
							ids.push(parseInt(key));
						}
					 } catch {
						 return false;
					 }
					 return false;
				 });
			}
			let num = ids.length;
			this.sync_from = 0;
			this.sync_to = num;
			for (let id of ids) {
				await this.fetchSingleMember(id);
				this.sync_from += 1;
				await sleep(600);
			}
			localStorage.members_info = JSON.stringify(this.members_info);
			this.fetching.members = false;
			this.resetTimer(!this.auto_refresh)
		},

		reviveMember(player_id) {
			window.open(`https://www.torn.com/profiles.php?XID=${player_id}`, '_blank');
		}
	},
	computed: {
		members_array() {
			return Object.values(this.members_info).filter(member => {
				if (!member || !member.last_action) return false;
				return true;
			}).map(member => {
				member.online_status = member.last_action?.status;
				member.revivable = member.revivable ? true : false;
				member.last_online = member.last_action?.relative;
				member.last_online_2 = chrono.parseDate(member.last_online);
				member.hospitalized = member.states.hospital_timestamp != 0;
				member.hosp_time = member.states.hospital_timestamp;
				member.max_life = member.life.maximum;
				member.current_life = member.life.current;
				member.health = `${member.life.current} / ${member.life.maximum}`
				return member;
			}).filter(member => {
				let show = true;
				if (this.filters.revivable) show = show && member.revivable != false;
				if (this.filters.hospitalized) show = show && member.hospitalized
				let cutoff_time = dayjs().subtract('5', 'minute');
				if (this.filters.online == 'online') show = show && member.online_status == 'Online';
				else if (this.filters.online == 'online_idle') show = show && (member.online_status == 'Online' ||  member.online_status == 'Idle');
				else if (this.filters.online == 'offline') show = show && member.online_status == 'Offline';
				else if (this.filters.online == '5_min') show = show && dayjs(member.last_online_2).isAfter(cutoff_time);

				if (this.filters.level) {
					if (this.filters.level < 0) {
						show = show && member.level <= Math.abs(this.filters.level);
					} else show = show && member.level >= this.filters.level;
				}
				return show;
			}).sort((a, b) => {
				let a_val = (a.revivable && a.hospitalized);
				let b_val = (b.revivable && b.hospitalized);
				if (a_val > b_val) return -1;
				else if (a_val < b_val ) return 1;
				else {
					let a2_val = a.online_status == 'Online'? 2 : (a.online_status == 'Idle') ? 1 : 0;
					let b2_val = b.online_status == 'Online'? 2 : (b.online_status == 'Idle') ? 1 : 0;
					if (a2_val > b2_val) return -1;
					else return 1;
					
				}
			});
		}
	},
	watch:{
		api_key(new_value) {
			localStorage.trn_key = new_value;
		},
		faction_id(new_val) {
			localStorage.faction_id = new_val;
		},
		'filters': {
			deep: true,
			handler: function(new_val) {
				localStorage.member_filters = JSON.stringify(new_val);
			}
		},
		auto_refresh(new_value) {
			if (new_value) {
				this.resetTimer();
			} else {
				this.resetTimer(true);
			}
		}
	}
}
</script>

<style lang="scss">
body, html {
	background-color: #3d3d3d;
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
}
#app {
	font-family: Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: left;
	color: #ebebeb;
	height: 100%;
}

.app-container {
	height: 100%;
	display: flex;
	flex-direction: column;
}

input[type=text] {
	background-color: #0a0a0a;
	color: white;
	border: 1px solid black;
	padding: 5px 10px;
}

.button {
	padding: 10px 10px;
	background-color: #0a0a0a;
	color: white;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	line-height: 10px;
	font-size: 14px;
	margin: 5px 5px;
	cursor: pointer;

	&.green {
		background-color: green;
		border: 1px solid white;
	}
	&.darkgreen {
		background-color: darkgreen;
	}

	&.slim {
		padding: 5px 10px;
		margin: 2px 5px;
	}
}
.bar-horiz {
	background-color: #1d1d1d;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 15px 15px;
	border-bottom: 1px solid black;

	&.left-aligned {
		justify-content: flex-start;
	}
}

.h-spacer {
	flex: 1;
}

.content-container {
	display: flex;
	flex-direction: column;
	height: 100%;
}
.faction-info {
	background-color: #0005;
	padding: 20px;
	display: flex;
	flex-direction: row;
	.stats {
		display:flex;
		justify-content: center;
		align-items: left;
		flex-direction: column;
		.faction-stat {
			* {
				display: inline-block;
				margin-right: 10px;
			}
	
			label {
				font-weight: bold;
				min-width: 100px;
			}
		}
	}

	.fac-img {
		display: inline-block;
		flex: 1;
		height: 100%;
		img {
			height: 100%;
			width: 100%;
			max-height: 300px;
			object-fit: contain;
			object-position: center right;
			image-rendering: crisp-edges;

		}
	}
}

th {
	background-color: #0d0d0d;
}
th, td {
	padding: 5px 15px;
}
td, th, tr, thead, table {
	border-color: black;
	border: 1px solid black;
	border-collapse: collapse;
	// margin: 0;
	// padding: 0;
}

th {
	font-weight: bold;
}

.member-list {
	// overflow-y: auto;
	width: 100vw;
}

.filter-bar {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 15px 10px;
	background-color: #0c0c0c;

	span {
		margin-right: 15px;
	}
}

.actions-cell {
	vertical-align: top;
}

.data-column.online_status {
	
	&[data-value="Online"] {
		color: green;
	}
	&[data-value="Idle"] {
		color: orange;
	}
	&[data-value="Offline"] {
		color: red;
	}
}

.data-column.hospitalized, .data-column.revivable {
	&[data-value="true"] {
		color: green;
	}
	&[data-value="false"] {
		color: red;
	}
}
</style>
